<h1 class="d-flex justify-content-center">Home page</h1>

<ul class="list-group">
    {{#each products}}    
        <li class="list-group-item">
            {{this.title}} - ${{this.price}}
        </li>    
    {{/each}}
</ul>